/* Configurações globais */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("img/forca-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-flow: column;
}

/* Estilização do container principal */
.container {
  width: 800px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  text-align: center;
}

/* Título principal */
h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Dica */
.dica {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Palavra em exibição */
.palavra {
  font-size: 28px;
  letter-spacing: 5px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Letras usadas */
.letras-usadas {
  margin: 20px 0;
  font-size: 16px;
  color: #777;
}

/* Tentativas restantes */
.tentativas {
  font-size: 20px;
  color: #d9534f;
  margin-bottom: 20px;
}

/* Estilo da forca e boneco */
#forca {
  font-size: 32px;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 58.5%;
  z-index: 2;
  white-space: pre;
  line-height: 1.2;
}

/* Teclado */
#teclado {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 5px;
}

#teclado button {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

#teclado button:hover {
  background-color: #0056b3;
}

#teclado button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Container do chute */
.acoes .chute-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.acoes .chute-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #000000;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.acoes .chute-botao {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #ffc107;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #000000;
  border-left: none;
}

/* Botão Reiniciar */
.acoes button.reiniciar-jogo {
  background-color: #28a745;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.acoes button.reiniciar-jogo:hover {
  background-color: #218838;
}

/* Responsividade para telas menores */
@media (max-width: 500px) {
  .container {
    width: 95%;
  }

  #teclado {
    grid-template-columns: repeat(
      5,
      1fr
    ); /* Ajuste do teclado para telas menores */
  }
}
